<div class="container-logo">
  <div class="col-12 col-sm-4 col-md-8 col-lg-12 text-center">
<!-- Best Img TAG -->
<%= image_tag("Hype Vintage.png", class: "logo") %>
  <%# @posts.each do |post| %>


    <%#= image_data @post.image_url %>
    <%#= post.description%>


  <%# end %>

</div>
</div>
