<div class="jumbotron banner">
  <div class="container">
    <h1 class="display-3"></h1>
    <p class="lead">Your Marketplace for Exclusive Hype Vintage clothing and collaboration shoes</p>
  </div>
</div>


<div class="container">
<img src="/assets/images/Hype Vintage.png" alt="logo" class="img">
</div>
