<div class="container">
<nav class="nav">

  <% if user_signed_in? %>

    <a class="btn btn-danger" href="#" role="button"> New Products </a>
    <a class="btn btn-danger" href="#" role="button"> Brands </a>
    <a class="btn btn-danger" href="#" role="button"> Contact </a>

    <li>
      <%= link_to('Logout', destroy_user_session_path, method: :get) %>
        </li>

    <li>
      <%= link_to('Edit registration', edit_user_registration_path) %>
        </li>

  <% end %>

  <% if !user_signed_in? && request.path != "/users/sign_in" %>
    <li>
      <%= link_to('Login', new_user_session_path)  %>
        </li>
  <% end %>

  <% if !user_signed_in? && request.path != "/users/sign_up" %>
    <li>
      <%= link_to('Register', new_user_registration_path)  %>
      </li>
  <% end %>

</nav>
</div>
