<div class="container">
<nav class="nav">

  <% if user_signed_in? %>
    <li>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    </li>
    <li>
    <%= link_to('Edit registration', edit_user_registration_path) %>
    </li>
    <a class="nav-link" href="#"> New Products</a>
    <a class="nav-link" href="#"> Brands</a>
    <a class="nav-link" href="#"> Contact</a>
  <% end %>

  <% if !user_signed_in? && request.path != "/users/sign_in" %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
  <% end %>

  <% if !user_signed_in? && request.path != "/users/sign_up" %>
    <li>
    <%= link_to('Register', new_user_registration_path)  %>
    </li>
  <% end %>

</nav>
</div>
