.btn {

  background-color: #8D8D8D;
  color: #FFF;
  border: 1vw;
  margin: 1vw;
}

.img {
    background-image: url("assets/images/Hype_Vintage.jpg");
    background-color: #0D0D0D;

}

.container-logo {
  background-position: center;
  background-color: black;
  background-attachment: fixed;
  height: auto;
}
