body {
  margin: 35px;
  border: solid;
  border-color: black;

}


.container-fluid {
  text-align: center;
  background-color: #F0F3F4;
}

.logo {
  background-color: black;

}

.btn {

  background-color: #1e008c;
  color: #FFF;
  border: 1vw;
  margin: 1vw;
}

.container-logo {
  background-position: center;
  background-color: black;
  width: auto;
}

.container-show {
   width: 100vw;
   margin: 0 auto;
}

.container-1 {
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  /*
  align-items:flex-start;
  align-items:flex-end;
  align-items:center;

  flex-direction:column;
  */
}

.box-0{
  flex:2;
  order:1;
}

.box-1{
  flex:2;
  order:2;
}

.box-2{
  flex:2;
  order:3;
}

.posts-images {
  width: 200px;
}

p {
  text-align: center;
}

.card {
  width: 22rem;
  outline-style: double;
  outline-color: #48C9B0;

}
// media query / aka breakpoint
@media(min-width: 768px){

}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    .posts-images {width: 350px;}
    .img {
      width: 350px;
      background-image: url("assets/images/Hype_Vintage.jpg");
      background-color: #FFF;
    }

}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
